env.app_env=local
env.app_key=app-key
env.app_debug=true
env.app_log_level=debug
env.app_url=http://localhost

env.db_connection=mysql
env.db_host=127.0.0.1
env.db_port=3306
env.db_database=homestead
env.db_username=homestead
env.db_password=secret

env.broadcast_driver=log
env.cache_driver=file
env.session_driver=file
env.queue_driver=sync

env.redis_host=127.0.0.1
env.redis_password=null
env.redis_port=6379

env.mail_driver=smtp
env.mail_host=smtp.mailtrap.io
env.mail_port=2525
env.mail_username=null
env.mail_password=null
env.mail_encryption=null

env.pusher_app_id=
env.pusher_app_key=
env.pusher_app_secret=
